
[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "deny"
ignore = []

[bans]
multiple-versions = "deny"
wildcards = "deny"
allow-wildcard-paths = true
highlight = "all"
# Certain crates/versions that will be skipped when doing duplicate detection.
skip = []
# Crate dependency trees that will be skipped when doing duplicate detection.
skip-tree = [
    { name = "security-framework", version = "2.11.1" }, # keyring uses old version
    { name = "rand", version = "0.8.5" },                # p256 uses old version
    { name = "windows-sys", version = "*" },             # multiple crates use old versions - no stable release yet, so this is inevitable
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
